.root{
    -fx-padding: 15;
    -fx-background-color: white;
}

.grille-button {
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;

    -fx-border-color: darkblue;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
}

.grille-label {
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-alignment: center; /* Pr centrer le chiffre dans la case */

    -fx-border-color: darkblue;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
}

.gridPPane